.detailsButton  {
  border: 1px dotted black;
  font-family: inherit;
  background-color: #E1E2E1;
  color: #000;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: yellow;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: center;
}
}
